*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
}

/* INPUT SIDE */
.inputSide{
    background: #f8f8f8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 1vh;
}
.inputSideHeader{
    font-weight: 500;
    color: black;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5vw;
}
.inputSideHeader #my{
    background-color: aquamarine;
    transform: rotate(10deg);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.inputSideHeader #library{

}
.inputSideMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.inputSideButton{

}

.formContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    width: 100%;
    justify-content: left;
    align-items: left;
}

 .inputSideMain #checkboxContainer{
    border-bottom: 0px;
    background-color: #f8f8f8;
    display: flex;
}

.inputSideMain #checkboxContainer label{
    font-size: 17px;
    flex: 0 0 85%;
    margin: auto;
}

.inputSideMain #checkboxContainer input{
    flex: 1;
    font-size: 17px;
}

input, select{
    height: 30px;
}
input{
    width: 100%;
    border-bottom: 3px solid white;
}

input:focus, 
input:hover{
    outline:  none;
    border-bottom: 3px solid aquamarine;
    transition: all .2s;
}

select{
    width: 50px;
}

/* BUTTONS */ 

button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.05);
    background-color: aquamarine;
    transition: .25s;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
button:active{
    transform: scale(.98);
    background-color: aquamarine;
    transition: .25s;
}


/* OUTPUT SIDE */ 
.outputSide{
    flex: 1;
    background: rgb(34,193,195);
    background: linear-gradient(117deg, rgba(34,193,195,1) 0%, rgba(143,193,242,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outputSide div{
    margin: 1%;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.outputSide div div{
    width: 100%;
    padding: 0px;
    margin: 3px;
    border: 0px;
    text-align: center;
}

.readStatusContainer:hover{
    cursor: pointer;
}

#titleContainer{
    font-size: 30px;
    font-weight: 700;
}
#authorContainer{
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}
#pagesContainer{
    font-size: 16px;
}

#readStatusContainer{
    font-size: 20px;
}

#bookCard{
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px 0px 5px 0px;
    width: 40vw;

}  
