*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
}

/* INPUT SIDE */
.inputSide{
    padding-left: 3%;
    flex: 0 0 35%;
    background: #f8f8f8;
    height: 100vh;
    display: flex;
    box-shadow: 10px 10px 10px black;
}
.inputSide .inputCard{
    margin: auto;
    height: 50%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: left;

}
.inputCard .inputCardHeader{
    flex: 0 0 15%;
    font-weight: 500;
    color: black;
    font-size: 50px;
    align-items: left;
    justify-content: left;
}
.inputCard .inputCardMain{
    flex: 1;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10%;  
}

.formContainer{
    padding: 3px;
    background-color: white;
    box-shadow: inset 0px 1px 1px rgba(65, 65, 65, 0.616);
    width: 70%;
    border-radius: 5px;
}

input, select{
    height: 30px;
}
input{
    width: 200px;
}
select{
    width: 50px;
}
.inputCard .inputCardButton{
    flex: 0 0 15%;
    height: 50px;
    display: 0 0 20%;
    display: flex;
    justify-content: left;
    align-items: left;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.05);
    background-color: aquamarine;
    transition: .25s;
    color: black;
    font-weight: 600;
}
button:active{
    transform: scale(.98);
    background-color: aquamarine;
    transition: .25s;
}


/* OUTPUT SIDE */ 
.outputSide{
    flex: 1;
    background-color:#93ddff;
    height: 100vh;
}